@import '../../styles/variables.less';

:local(.panelEdit) {
  &.panel {
    padding: 0;
  }
}

:local(.inputTitle) {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  padding: 0 10px;
  line-height: 40px;
  border: 1px solid #ddd;
  border-bottom: 0;
}

:local(.reference) {
  padding: 20px;
}

:local(.refItem) {
  line-height: 1.8;
}

:local(.refList) {
  margin: 10px 0;
}

:local(.author) {
  > * {
    display: inline-block;
    vertical-align: middle;
  }
}

:local(.submitQuestion) {
  padding: 0 15px;
  line-height: 60px;
  background-color: #f2f2f2;
}

:local(.topicList) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;

  > * {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    &.selected {
      > * {
        color: #fff;
        background-color: #546da5;
      }
    }
    > * {
      display: inline-block;
      margin: 2px;
      padding: 5px;
      border-radius: 4px;
    }
  }
}
