@font-size: 14px;
@font-color: #404040;
@background-color: #eee;
@gap: 10px;
@divider-color: #d3d3d3;
@link-color: #999;
@link-hover-color: #86b53f;
@layout-width: 1070px;
@layout-right-width: 240px;
@control-height: 30px;
@form-control-border-color: #d3d3d3;
@border-radius: 3px;
@textarea-height: 5em;
@navtop-height: 64px;

@brand-feature: #b8ed06;
@brand-primary: #546da5;
@brand-info: #f1f8fb;
@brand-default: #f2f2f2;
