@import '../../styles/variables';

@race-color: rgb(135,180,71);

:local(.navMenu) {
  margin: 0 -15px -15px;
  border-top: 1px solid @border-color;
  > li {
    list-style-type: none;
    padding: 0 15px;
    a {
      display: block;
      height: 100%;
      padding: 10px 15px;
    }
    &.active {
      a {
        color: white;
      }
      background: @race-color;
    }
    &:hover {
      &:not(.active) {
        a {
          color: @race-color;
        }
        background: lighten(@race-color, 35%);
      }
    }
  }
}

:local(.navTitle) {
  margin-bottom: 15px;
}

:local(.infoTitle) {
  font-size: 2em;
}

:local(.infoProgress) {
  @height: 10px;
  @border-radius: @height / 2;
  width: 100%;
  height: @height;
  margin: 1em 0;
  background: #eee;
  border-radius: @border-radius;
  > div {
    width: 0;
    height: 100%;
    background: @race-color;
    border-radius: @border-radius;
  }
}

:local(.tabTitle) {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
}

:local(.tabContent) {
  table {
    width: 100%;
  }
  th, td {
    padding: 5px 15px;
    border: 1px solid;
  }
}

:local(.content) {
  hr {
    margin-left: -15px;
    margin-right: -15px;
  }
}
