:local(.detail) {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .others {
    display: none;
  }

  &:hover .others {
    display: flex;
  }

  .avatar {
    width: auto;
    padding-top: 10px;
  }

  :local(.main) {
    padding: 10px;
    flex: 1;

    :local(.content) {
      line-height: 1.5;
    }

    :local(.title) {
      font-weight: bold;
      font-size: 14px;
      display: flex;
      margin-bottom: 5px;
    }

    .from {
      margin-right: 10px;
    }

    .tip {
      font-weight: normal;
      margin-right: 10px;
    }
  }
}

:local(.detail) {
  .option-btns {
    display: none;
  }

  &:hover .option-btns {
    display: flex;
  }
}

:local(.optionArea) {
  font-size: 14px;

  :local(.options) {
    display: flex;
    margin-top: 5px;
    color: #999;

    .info-area {
      flex: 1;
      display: flex;
    }

    .options {
      margin-left: 10px;
      cursor: pointer;
    }

    .count {
      width: auto;
    }
  }

  .reply-area {
    margin-top: 10px;
    padding-right: 20px;

    .reply-input {
      width: 100%;
      padding: 5px 8px;
      line-height: 1.5;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    .btn {
      width: 40px;
      margin-top: 10px;
      padding: 5px 10px;
      background-color: #000;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
