:local(.content) {
  padding: 15px;
  label {
    position: relative;
    display: inline-block;
    width: 100px;
    padding-left: 10px;
    &:local(.required) {
      &::before {
        content: '*';
        position: absolute;
        left: 0;
      }
    }
  }
  .form-control {
    width: 300px;
  }
}

:local(.avatarLarge) {
  @size: 256px;

  float: left;
  margin-left: 10px;

  img {
    width: @size;
    height: @size;
  }
}

:local(.hint) {
  margin: 5px 0;
  color: darkgray;
}

:local(.buttons) {
  margin-top: 20px;
  button {
    width: 100px;
  }
}
