@import '../../styles/variables';

.navtop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @navtop-height;
  color: #fff;
  background-color: #434343;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  z-index: 1000;

  a,
  .btn {
    color: white;
    &:hover {
      color: @brand-feature;
    }
  }

  &-wrap {
    max-width: 1070px;
    height: 100%;
    margin: 0 auto;
    > * {
      height: 100%;
      line-height: @navtop-height;
    }
  }

  &-logo {
    float: left;
    height: 100%;
    margin-right: 16px;
    > a {
      display: block;
      width: 150px;
      height: 100%;
      background: url(../../assets/logo.png) no-repeat center / contain;
    }
  }

  .btn {
    border: 1px solid currentColor;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 26px;
    background-color: inherit;
  }

  .link {
    display: inline-block;
    width: 50px;
    text-align: center;
    cursor: pointer;
  }

  .divider {
    border-left: 1px solid #fff;
  }

  &-search {
    .form-control {
      display: inline-block;
      width: 400px;
    }
  }

  &-user {
    position: relative;
    max-width: 120px;
    min-width: 80px;
    height: 100%;
    line-height: @navtop-height;
    text-align: center;
    .navtop-menu {
      transform: scaleY(0);
      transform-origin: 50% 0;
    }
    &:hover .navtop-menu {
      transform: scaleY(1);
    }
  }

  &-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #434343;
    transition: transform 0.25s;
    text-align: center;

    &-item {
      display: block;
      line-height: 2;
      cursor: pointer;
      border-top: 1px solid #a6a6a6;
    }
  }
}
