@import '../../styles/variables.less';

:local(.race) {
  max-width: 960px;
  margin: @gap auto;
  background-color: #fff;

  table {
    width: 100%;
    text-align: center;
  }

  thead tr {
    height: 45px;
    font-weight: bold;

    th:not(.race-recent) {
      width: 120px;
    }
  }

  td {
    height: 60px;
    padding: 15px 0;
    border-top: 1px solid @border-color;

    &.fixed-cell {
      width: 120px;
    }
  }

  .race-type {
    width: 60px;
    color: #fff;
    vertical-align: top;

    &.competition {
      @color: rgb(180, 217, 255);
      background-color: @color;
    }

    &.recruitment {
      @color: rgb(169, 219, 217);
      background-color: @color;
      border-top-color: @color;
    }

    &.report {
      @color: rgb(211, 229, 187);
      background-color: @color;
      border-top-color: @color;
    }
  }

  .race-recent {
    padding-left: 15px;
    text-align: left;
  }

  .race-logo {
    width: 100px;

    &-content {
      display: inline-block;
      width: 70px;
      height: 60px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .race-from {
    text-align: left;

    &-name {
      display: inline-block;
      margin-bottom: 5px;
      color: @font-color;
      font-weight: bold;
    }
  }
}
