@import '../../styles/variables.less';

.answerCard {

  .title {
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 1.8;
    color: #404040;
  }

  .author {
    margin-bottom: 5px;

    .link {
      margin-right: 5px;
      color: @brand-primary;
    }
  }

  &-option {

    .options > * {
      float: left;
      line-height: 30px;
    }
  }

  &-comment,
  &-share {
    margin-left: 15px;
    cursor: pointer;
  }

  &-comment .count {
    display: inline-block;
    margin-left: 5px;
    padding: 0 5px;
    text-align: center;
    background-color: @brand-info;
    border-radius: @border-radius;
  }

  &-share {
    position: relative;

    .bar {
      position: absolute;
    }
  }
}
