:local(.commentList) {
  margin-top: 15px;
  border-top: 1px solid #eee;

  .option {
    padding: 5px 0;
    line-height: 26px;
    cursor: pointer;
    text-align: center;
    color: #a6a6a6;
    border-top: 1px solid #eee;
  }

  .reply-area {
    margin-top: 10px;
    padding-right: 20px;

    .reply-input {
      width: 100%;
      padding: 5px 8px;
      line-height: 1.5;
      border: 1px solid #ddd;
      border-radius: 3px;
    }

    .btn {
      width: 60px;
      margin-top: 10px;
    }
  }
}