.avatar {

  @normal: 40px;
  @medium: 60px;
  @large: 80px;
  height: @normal;
  width: @normal;
  color: #fff;
  line-height: @normal;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  &.medium {
    width: @medium;
    height: @medium;
    line-height: @medium;
    font-size: 1.8rem;
  }

  &.large {
    width: @large;
    height: @large;
    line-height: @large;
    font-size: 2rem;
  }
}
