.sharebar {
  width: 150px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;

  &-item {
    display: block;
    line-height: 36px;
    text-align: center;
    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &-qrcode {
    padding-bottom: 15px;
  }
}
