@import '../../styles/variables';

.qlist {

  &-header {
    margin-bottom: 10px;
  }

  &-item {
    padding: 18px 0;
    border-top: 1px solid @border-color;
  }

  &-content {
    float: left;
    width: 100%;

    > div {
      margin-left: 65px;
    }
  }

  &-tag {
    float: left;
    margin-left: -100%;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #787878;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    color: #fff;

    > div {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &-analysts {
    display: block;
    color: @brand-feature;

    &:not(:hover) {
      color: darken(@brand-feature, 12%);
    }

    img {
      height: 90px;
    }

    &-top {
      margin-top: .5em;
      border-bottom: 2px solid currentColor;
      font-size: 110%;
    }

    &-bottom {
      font-size: 200%;
    }
  }
}
