@import '../../styles/variables.less';

.answer {
  display: flex;
  margin-bottom: 5px;

  &-content {
    flex: 1;
    line-height: 1.8;
    padding-right: 15px;
  }

  &-short {
    display: inline-block;
    cursor: pointer;
  }

  &-long {

    img {
      width: 100%;
    }
  }

  &-show {
    display: inline-block;
    color: @brand-primary;
  }

  &-hide {
    float: right;
    cursor: pointer;
    color: @brand-primary;
  }

  &-pic {
    width: 200px;
    height: 120px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}